@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      font-family: "Poppins", sans-serif;
      width: 100%;
    }
    @layer setIconAssets {
      .setIcon {
        font-size: 20px;
        cursor: pointer;
      }
      .setIconAbout {
        font-size: 45px;
        cursor: pointer;
      }
      .setIconAboutHotline {
        color: white;
        font-size: 45px;
        cursor: pointer;
      }
      .centerAll {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .fontAcount{
        font-family: 'Inter', sans-serif;
      }
    }
}